<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>配偶信息</title>
    <script src="../../static/js/vue/vue.js"></script>
    <script src="../../static/js/element/index.js"></script>
    <link rel="stylesheet" href="../../static/css/element/index.css">

</head>
<body >
<div>
    <tr>
        <td>配偶姓名:</td>
        <td><input name="dictionariesName" ng-model="revise.dictionariesName" ></td>
    </tr>
    <tr>
        <td>身份证号码:</td>
        <td><input name="dictionariesName" ng-model="revise.dictionariesName" ></td>
    </tr>
</div>

</body>
</html>