<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/plugins/angularjs/toaster.min.css">
    <script src="../../static/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../../static/plugins/angularjs/angular.min.js"></script>
    <script src="../static/echarts/echarts.js"></script>
    <script>
        var app= angular.module("myApp",[]);
        app.controller("myContr",function ($scope,$http) {
            //查询户籍省
            $scope.findCity=function () {
                $http({
                    url: "/Province/findProvince",
                    method: "post",
                }).success(function (response) {
                    $scope.usProvince=response;
                })
            }

            //查询户籍市
            $scope.province=function () {
                var provinceId=$scope.userOut.userProvince;
                $http({
                    url: "/Province/findCity",
                    method: "post",
                    params: {"provinceId":provinceId}
                }).success(function (response) {
                    $scope.usCity=response;
                })

            }

            //查询户籍县
            $scope.area=function () {
                var provinceId=$scope.userOut.userProvince;
                var cityId=$scope.personal.userCity;
                console.log(cityId)
                if (cityId==""){
                    $scope.personal.userArea="";
                    $scope.personal.censusVill="";
                }
                $scope.allTown={};

                $http({
                    url: "/Province/findCounty",
                    method: "post",
                    params: {"provinceId":provinceId,"cityId":cityId}
                }).success(function (response) {
                    $scope.usarea=response;
                })

            }

            //查询户籍村
            $scope.findvillage=function(){
                var provinceId=$scope.userOut.userProvince;
                var cityId=$scope.personal.userCity;
                var countyId = $scope.personal.userArea;
                $http({
                    url: "/Province/findArea",
                    method: "post",
                    params:{"provinceId":provinceId,"cityId":cityId,"countyId":countyId}
                }).success(function (response) {
                    $scope.allTown = response;
                })
            }

            $scope.findUser=function () {
                $http({
                    url:"/statistics/findUser",
                    method:"get",
                    params:{}
                }).success(function (response) {
                    $scope.userOut=response;
                    $scope.findCity();
                    $scope.province();

                })
            }

            $scope.findOutsider=function(){
                var userOutsi=$scope.personal;
                $http({
                    url:"/statistics/findOutsider",
                    method:"get",
                    params:{userOutsi}
                }).success(function (response) {
                    $scope.outSide=response;
                })
            }


        })
    </script>

    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        $(document).ready(function() {
            $('button').click(function () {
                var addform = $("#addForm").serialize();
                console.log(addform)
                $.ajax({
                    url: "/statistics/findOutsider",
                    dataType: "json",
                    type: "post",
                    data: addform,
                    success: function (res) {
                        console.log("res:"+res)
                        var name=[];
                        var date=[]
                        for (var i = 0; i < res.length; i++) {
                            name.push(res[i].site)
                            date.push(res[i].outnumber)
                        }
                        //获取数据后，隐藏loading动画
                        myContainer.setOption(option = {
                            title: {
                                text: ''
                            },
                            tooltip: {},
                            legend: {},
                            // xAxis代表x轴的数据
                            xAxis: {
                                data: name,
                                // 字段对应从json里面的字段
                            },
                            // yAxis代表y轴的数据,不写会自动适应数据
                            yAxis: {},
                            // series代表鼠标悬浮到图标上时提示的对应信息
                            series: [{
                                name: '流入人口人数',
                                type: 'bar',
                                data: date,
                                // 字段对应从json里面的字段
                            }]
                        });
                    }
                })
            });
            var myContainer = echarts.init(document.getElementById('main'));
                var addform = $("#addForm").serialize();
                $.ajax({
                    url: "/statistics/findOutsider",
                    dataType: "json",
                    type: "post",
                    data: addform,
                    success: function (res) {
                        //console.log("res:"+res)
                        var name=[];
                        var date=[]
                        for (var i = 0; i < res.length; i++) {
                            name.push(res[i].site)
                            date.push(res[i].outnumber)
                        }
                        /*表格省份*/
                        var str = "";
                        str += '<td>省份：</td>'
                        for (var i = 0; i <name.length ; i++) {
                            str += '<td>'+ name[i] +'</td>'
                        }
                        $("#aa").html(str);
                        /*表格人数*/
                        var str1 = "";
                        str1 += '<td>人数：</td>'
                        for (var i = 0; i <date.length ; i++) {
                            str1 += '<td>'+ date[i] +'</td>'
                        }
                        $("#bb").html(str1);
                        //获取数据后，隐藏loading动画
                        myContainer.setOption(option = {
                            title: {
                                text: ''
                            },
                            tooltip: {},
                            legend: {},
                            // xAxis代表x轴的数据
                            xAxis: {
                                data: name,
                                // 字段对应从json里面的字段
                            },
                            // yAxis代表y轴的数据,不写会自动适应数据
                            yAxis: {},
                            // series代表鼠标悬浮到图标上时提示的对应信息
                            series: [{
                                name: '流入人口人数',
                                type: 'bar',
                                data: date,
                                // 字段对应从json里面的字段
                            }]
                        });
                    }
                })
        })
    </script>
</head>
<body ng-app="myApp" ng-controller="myContr" ng-init="findUser()">
<div align="center">

        <h2>流动人口服务管理系统</h2>

</div>
<form id="addForm">
<div align="center">
从<input type="date" ng-model="personal.gmtCreate" name="gmtCreate"> 到<input type="date" name="gmtModifile" ng-model="personal.gmtModifile">
    <button>搜索</button>
    <br>
    <div class="form_text_ipt">
        区域:
    <select style="width: 95px; height: 40px" ng-change="area()" ng-model="personal.userCity" name="userCity">
        <option value="">请选择</option>
        <option ng-repeat="pr in usCity"  ng-value="pr.id" >{{pr.name}}</option>
    </select >

    <select style="width: 100px; height: 40px" ng-change="findvillage()" ng-model="personal.userArea" name="userArea">
        <option value="">请选择</option>
        <option ng-repeat="re in usarea" ng-value="re.id" >{{re.name}}</option>
    </select>

    <select style="width: 100px; height: 40px" id="userCity" ng-model="personal.censusVill" name="censusVill">
        <option value="">请选择</option>
        <option ng-repeat="al in allTown" ng-value="al.id" >{{al.name}}</option>
    </select>
        <div id="main" style="width: 600px;height:400px;"></div>

<div>
</div>
    </div>
</div>
</form>
    <table border="1" align="center" style="border-collapse:collapse;">
        <tr id="aa" align="center"></tr>
        <tr id="bb" align="center"></tr>
    </table>
</body>
</html>