<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/plugins/angularjs/toaster.min.css">
    <script src="../static/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../static/plugins/angularjs/angular.min.js"></script>
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/reset.css">

    <script src="../static/plugins/angularjs/angular.min.js"></script>
    <script src="../static/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../static/js/login/common.js"></script>
    <script src="../static/js/showLoading.js" type="text/javascript" charset="utf-8"></script>
    <script src="../static/echarts/echarts.js"></script>
    <script>

        option = {
            color: ['#3398DB'],
            tooltip: {
                trigger: 'axis',
                axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                    type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                }
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis: [
                {
                    type: 'category',
                    data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
                    axisTick: {
                        alignWithLabel: true
                    }
                }
            ],
            yAxis: [
                {
                    type: 'value'
                }
            ],
            series: [
                {
                    name: '直接访问',
                    type: 'bar',
                    barWidth: '60%',
                    data: [1, 52, 210, 34, 90, 30, 220]
                }
            ]
        };
    </script>
</head>
<body>
<div align="center">

        <h2>流动人口服务管理系统</h2>

</div>
<div>

</div>
</body>
</html>