<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.population.dao.MateDao.MateDaoMapper">
  <resultMap id="BaseResultMap" type="com.population.pojo.Mate">
    <id column="ma_id" jdbcType="INTEGER" property="maId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="mate_name" jdbcType="VARCHAR" property="mateName" />
    <result column="mate_number" jdbcType="VARCHAR" property="mateNumber" />
    <result column="mate_province" jdbcType="INTEGER" property="mateProvince" />
    <result column="mate_city" jdbcType="INTEGER" property="mateCity" />
    <result column="mate_county" jdbcType="INTEGER" property="mateCounty" />
    <result column="mate_area" jdbcType="INTEGER" property="mateArea" />
    <result column="mate_village" jdbcType="VARCHAR" property="mateVillage" />
    <result column="background" jdbcType="INTEGER" property="background" />
    <result column="work_unit" jdbcType="VARCHAR" property="workUnit" />
    <result column="mate_phone" jdbcType="VARCHAR" property="matePhone" />
    <result column="del_id" jdbcType="INTEGER" property="delId" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_moeified" jdbcType="TIMESTAMP" property="gmtMoeified" />
    <result column="spare_str" jdbcType="VARCHAR" property="spareStr" />
    <result column="spare_int" jdbcType="INTEGER" property="spareInt" />
  </resultMap>
  <resultMap id="BaseMap" type="com.population.vo.MateVO">
    <id column="ma_id" jdbcType="INTEGER" property="maId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="mate_name" jdbcType="VARCHAR" property="mateName" />
    <result column="mate_number" jdbcType="VARCHAR" property="mateNumber" />
    <result column="mate_province" jdbcType="INTEGER" property="mateProvince" />
    <result column="mate_city" jdbcType="INTEGER" property="mateCity" />
    <result column="mate_county" jdbcType="INTEGER" property="mateCounty" />
    <result column="mate_area" jdbcType="INTEGER" property="mateArea" />
    <result column="mate_village" jdbcType="VARCHAR" property="mateVillage" />
    <result column="background" jdbcType="INTEGER" property="background" />
    <result column="work_unit" jdbcType="VARCHAR" property="workUnit" />
    <result column="mate_phone" jdbcType="VARCHAR" property="matePhone" />
    <result column="del_id" jdbcType="INTEGER" property="delId" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_moeified" jdbcType="TIMESTAMP" property="gmtMoeified" />
    <result column="spare_str" jdbcType="VARCHAR" property="spareStr" />
    <result column="spare_int" jdbcType="INTEGER" property="spareInt" />
  </resultMap>
  <sql id="Base_Column_List">
    ma_id, user_id, mate_name, mate_number, mate_province, mate_city, mate_county, mate_area, 
    mate_village, background, work_unit, mate_phone, del_id, gmt_create, gmt_moeified, 
    spare_str, spare_int
  </sql>
  <select id="selectMate" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from mate
    where user_id = #{userId}
    and del_id=0
  </select>
  <select id="selectAllMate" resultMap="BaseMap">
    select <include refid="Base_Column_List" />
    from mate
    where del_id=0
  </select>
  <insert id="insertMate" parameterType="com.population.pojo.Mate">
    insert into mate
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="maId != null">
        ma_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="mateName != null">
        mate_name,
      </if>
      <if test="mateNumber != null">
        mate_number,
      </if>
      <if test="mateProvince != null">
        mate_province,
      </if>
      <if test="mateCity != null">
        mate_city,
      </if>
      <if test="mateCounty != null">
        mate_county,
      </if>
      <if test="mateArea != null">
        mate_area,
      </if>
      <if test="mateVillage != null">
        mate_village,
      </if>
      <if test="background != null">
        background,
      </if>
      <if test="workUnit != null">
        work_unit,
      </if>
      <if test="matePhone != null">
        mate_phone,
      </if>
      <if test="delId != null">
        del_id,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtMoeified != null">
        gmt_moeified,
      </if>
      <if test="spareStr != null">
        spare_str,
      </if>
      <if test="spareInt != null">
        spare_int,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="maId != null">
        #{maId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="mateName != null">
        #{mateName,jdbcType=VARCHAR},
      </if>
      <if test="mateNumber != null">
        #{mateNumber,jdbcType=VARCHAR},
      </if>
      <if test="mateProvince != null">
        #{mateProvince,jdbcType=INTEGER},
      </if>
      <if test="mateCity != null">
        #{mateCity,jdbcType=INTEGER},
      </if>
      <if test="mateCounty != null">
        #{mateCounty,jdbcType=INTEGER},
      </if>
      <if test="mateArea != null">
        #{mateArea,jdbcType=INTEGER},
      </if>
      <if test="mateVillage != null">
        #{mateVillage,jdbcType=VARCHAR},
      </if>
      <if test="background != null">
        #{background,jdbcType=INTEGER},
      </if>
      <if test="workUnit != null">
        #{workUnit,jdbcType=VARCHAR},
      </if>
      <if test="matePhone != null">
        #{matePhone,jdbcType=VARCHAR},
      </if>
      <if test="delId != null">
        #{delId,jdbcType=INTEGER},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtMoeified != null">
        #{gmtMoeified,jdbcType=TIMESTAMP},
      </if>
      <if test="spareStr != null">
        #{spareStr,jdbcType=VARCHAR},
      </if>
      <if test="spareInt != null">
        #{spareInt,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateMate" parameterType="com.population.pojo.Mate">
    update mate
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="mateName != null">
        mate_name = #{mateName,jdbcType=VARCHAR},
      </if>
      <if test="mateNumber != null">
        mate_number = #{mateNumber,jdbcType=VARCHAR},
      </if>
      <if test="mateProvince != null">
        mate_province = #{mateProvince,jdbcType=INTEGER},
      </if>
      <if test="mateCity != null">
        mate_city = #{mateCity,jdbcType=INTEGER},
      </if>
      <if test="mateCounty != null">
        mate_county = #{mateCounty,jdbcType=INTEGER},
      </if>
      <if test="mateArea != null">
        mate_area = #{mateArea,jdbcType=INTEGER},
      </if>
      <if test="mateVillage != null">
        mate_village = #{mateVillage,jdbcType=VARCHAR},
      </if>
      <if test="background != null">
        background = #{background,jdbcType=INTEGER},
      </if>
      <if test="workUnit != null">
        work_unit = #{workUnit,jdbcType=VARCHAR},
      </if>
      <if test="matePhone != null">
        mate_phone = #{matePhone,jdbcType=VARCHAR},
      </if>
      <if test="delId != null">
        del_id = #{delId,jdbcType=INTEGER},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtMoeified != null">
        gmt_moeified = #{gmtMoeified,jdbcType=TIMESTAMP},
      </if>
      <if test="spareStr != null">
        spare_str = #{spareStr,jdbcType=VARCHAR},
      </if>
      <if test="spareInt != null">
        spare_int = #{spareInt,jdbcType=INTEGER},
      </if>
    </set>
    where ma_id = #{maId,jdbcType=INTEGER}
  </update>
  <update id="delMateByUpdate" parameterType="com.population.pojo.Mate">
    update mate
    set del_id=1
    where ma_id = #{maId}
  </update>
  <select id="selectCountMate" parameterType="integer" resultType="integer">
    select count(0)
    from mate
    where user_id=#{userId}
    and del_id=0
  </select>
</mapper>