<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.population.dao.dwellDao.ResidenceMapper">
  <resultMap id="BaseResultMap" type="com.population.vo.DwellVO">
    <id column="dwe_id" jdbcType="INTEGER" property="dweId" />
    <result column="dwell_way" jdbcType="INTEGER" property="dwellWay" />
    <result column="dwell_why" jdbcType="INTEGER" property="dwellWhy" />
    <result column="house_category" jdbcType="INTEGER" property="houseCategory" />
    <result column="house_provine" jdbcType="VARCHAR" property="houseProvine" />
    <result column="house_avenue" jdbcType="VARCHAR" property="houseAvenue" />
    <result column="house_community" jdbcType="VARCHAR" property="houseCommunity" />
    <result column="house_way" jdbcType="VARCHAR" property="houseWay" />
    <result column="house_house" jdbcType="VARCHAR" property="houseHouse" />
    <result column="house_bar" jdbcType="VARCHAR" property="houseBar" />
    <result column="house_room" jdbcType="VARCHAR" property="houseRoom" />
    <result column="leaser_id" jdbcType="INTEGER" property="leaserId" />
    <result column="house_type" jdbcType="INTEGER" property="houseType" />
    <result column="house_use" jdbcType="INTEGER" property="houseUse" />
    <result column="message" jdbcType="VARCHAR" property="message" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="del_id" jdbcType="INTEGER" property="delId" />
    <result column="spare_str" jdbcType="VARCHAR" property="spareStr" />
    <result column="spare_int" jdbcType="INTEGER" property="spareInt" />
  </resultMap>
  <sql id="Base_Column_List">
    dwe_id, dwell_way, dwell_why, house_category, house_provine, house_avenue, house_community, 
    house_way, house_house, house_bar, house_room, leaser_id, house_type, house_use, 
    message, gmt_create, gmt_modified, del_id, spare_str, spare_int
  </sql>
  <insert id="saveResidenceInfo" parameterType="com.population.vo.DwellVO">
    insert into dwell
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dweId != null">
        dwe_id,
      </if>
      <if test="dwellWay != null">
        dwell_way,
      </if>
      <if test="dwellWhy != null">
        dwell_why,
      </if>
      <if test="houseCategory != null">
        house_category,
      </if>
      <if test="houseProvine != null">
        house_provine,
      </if>
      <if test="houseAvenue != null">
        house_avenue,
      </if>
      <if test="houseCommunity != null">
        house_community,
      </if>
      <if test="houseWay != null">
        house_way,
      </if>
      <if test="houseHouse != null">
        house_house,
      </if>
      <if test="houseBar != null">
        house_bar,
      </if>
      <if test="houseRoom != null">
        house_room,
      </if>
      <if test="leaserId != null">
        leaser_id,
      </if>
      <if test="houseType != null">
        house_type,
      </if>
      <if test="houseUse != null">
        house_use,
      </if>
      <if test="message != null">
        message,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="delId != null">
        del_id,
      </if>
      <if test="spareStr != null">
        spare_str,
      </if>
      <if test="spareInt != null">
        spare_int,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dweId != null">
        #{dweId,jdbcType=INTEGER},
      </if>
      <if test="dwellWay != null">
        #{dwellWay,jdbcType=INTEGER},
      </if>
      <if test="dwellWhy != null">
        #{dwellWhy,jdbcType=INTEGER},
      </if>
      <if test="houseCategory != null">
        #{houseCategory,jdbcType=INTEGER},
      </if>
      <if test="houseProvine != null">
        #{houseProvine,jdbcType=VARCHAR},
      </if>
      <if test="houseAvenue != null">
        #{houseAvenue,jdbcType=VARCHAR},
      </if>
      <if test="houseCommunity != null">
        #{houseCommunity,jdbcType=VARCHAR},
      </if>
      <if test="houseWay != null">
        #{houseWay,jdbcType=VARCHAR},
      </if>
      <if test="houseHouse != null">
        #{houseHouse,jdbcType=VARCHAR},
      </if>
      <if test="houseBar != null">
        #{houseBar,jdbcType=VARCHAR},
      </if>
      <if test="houseRoom != null">
        #{houseRoom,jdbcType=VARCHAR},
      </if>
      <if test="leaserId != null">
        #{leaserId,jdbcType=INTEGER},
      </if>
      <if test="houseType != null">
        #{houseType,jdbcType=INTEGER},
      </if>
      <if test="houseUse != null">
        #{houseUse,jdbcType=INTEGER},
      </if>
      <if test="message != null">
        #{message,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="delId != null">
        #{delId,jdbcType=INTEGER},
      </if>
      <if test="spareStr != null">
        #{spareStr,jdbcType=VARCHAR},
      </if>
      <if test="spareInt != null">
        #{spareInt,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>