<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.population.dao.dwellDao.ResidenceMapper">
  <resultMap id="BaseResultMap" type="com.population.vo.DwellVO">
    <id column="dwe_id" jdbcType="INTEGER" property="dweId" />
    <result column="dwell_way" jdbcType="INTEGER" property="dwellWay" />
    <result column="dwell_why" jdbcType="INTEGER" property="dwellWhy" />
    <result column="house_category" jdbcType="INTEGER" property="houseCategory" />
    <result column="house_provine" jdbcType="VARCHAR" property="houseProvine" />
    <result column="house_avenue" jdbcType="VARCHAR" property="houseAvenue" />
    <result column="house_community" jdbcType="VARCHAR" property="houseCommunity" />
    <result column="house_way" jdbcType="VARCHAR" property="houseWay" />
    <result column="house_house" jdbcType="VARCHAR" property="houseHouse" />
    <result column="house_bar" jdbcType="VARCHAR" property="houseBar" />
    <result column="house_room" jdbcType="VARCHAR" property="houseRoom" />
    <result column="leaser_id" jdbcType="INTEGER" property="leaserId" />
    <result column="house_type" jdbcType="INTEGER" property="houseType" />
    <result column="house_use" jdbcType="INTEGER" property="houseUse" />
    <result column="message" jdbcType="VARCHAR" property="message" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="del_id" jdbcType="INTEGER" property="delId" />
    <result column="spare_str" jdbcType="VARCHAR" property="spareStr" />
    <result column="spare_int" jdbcType="INTEGER" property="spareInt" />

    <result column="landlord_name" jdbcType="VARCHAR" property="landlordName" />
    <result column="landlord_phone" jdbcType="VARCHAR" property="landlordPhone" />
    <result column="landlord_duty" jdbcType="INTEGER" property="landlordDuty" />
    <result column="landlord_number" jdbcType="VARCHAR" property="landlordNumber" />
    <result column="agent_name" jdbcType="VARCHAR" property="agentName" />
    <result column="agent_phone" jdbcType="VARCHAR" property="agentPhone" />
    <result column="agent_duty" jdbcType="INTEGER" property="agentDuty" />
    <result column="agent_number" jdbcType="VARCHAR" property="agentNumber" />
  </resultMap>
  <sql id="Base_Column_List">
    dwe_id, dwell_way, dwell_why, house_category, house_provine, house_avenue, house_community, 
    house_way, house_house, house_bar, house_room, leaser_id, house_type, house_use, 
    message, gmt_create, gmt_modified, del_id, spare_str, spare_int
  </sql>
  <select id="findResidenceInfo" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT d.dwe_id,d.dwell_way,d.dwell_why,d.house_category,d.leaser_id,
				d.house_provine,d.house_avenue,d.house_community,d.house_way,d.house_house,
				d.house_bar,d.house_room,
				l.landlord_name,l.landlord_phone,l.landlord_duty,l.landlord_number,
				l.agent_name,l.agent_phone,l.agent_duty,l.agent_number,
				d.house_type,d.house_use,d.message
        FROM dwell d
        LEFT JOIN leaser l on d.leaser_id = l.lea_id
        WHERE d.spare_int = #{userId}
  </select>
  <select id="findResidenceCountInfo" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT COUNT(0)
        FROM dwell d
            LEFT JOIN leaser l on d.leaser_id = l.lea_id
            WHERE d.spare_int = #{userId}
  </select>
  <insert id="saveResidenceInfo" parameterType="com.population.vo.DwellVO">
    insert into dwell
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dweId != null">
        dwe_id,
      </if>
      <if test="dwellWay != null">
        dwell_way,
      </if>
      <if test="dwellWhy != null">
        dwell_why,
      </if>
      <if test="houseCategory != null">
        house_category,
      </if>
      <if test="houseProvine != null">
        house_provine,
      </if>
      <if test="houseAvenue != null">
        house_avenue,
      </if>
      <if test="houseCommunity != null">
        house_community,
      </if>
      <if test="houseWay != null">
        house_way,
      </if>
      <if test="houseHouse != null">
        house_house,
      </if>
      <if test="houseBar != null">
        house_bar,
      </if>
      <if test="houseRoom != null">
        house_room,
      </if>
      <if test="leaserId != null">
        leaser_id,
      </if>
      <if test="houseType != null">
        house_type,
      </if>
      <if test="houseUse != null">
        house_use,
      </if>
      <if test="message != null">
        message,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="delId != null">
        del_id,
      </if>
      <if test="spareStr != null">
        spare_str,
      </if>
      <if test="spareInt != null">
        spare_int,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dweId != null">
        #{dweId,jdbcType=INTEGER},
      </if>
      <if test="dwellWay != null">
        #{dwellWay,jdbcType=INTEGER},
      </if>
      <if test="dwellWhy != null">
        #{dwellWhy,jdbcType=INTEGER},
      </if>
      <if test="houseCategory != null">
        #{houseCategory,jdbcType=INTEGER},
      </if>
      <if test="houseProvine != null">
        #{houseProvine,jdbcType=VARCHAR},
      </if>
      <if test="houseAvenue != null">
        #{houseAvenue,jdbcType=VARCHAR},
      </if>
      <if test="houseCommunity != null">
        #{houseCommunity,jdbcType=VARCHAR},
      </if>
      <if test="houseWay != null">
        #{houseWay,jdbcType=VARCHAR},
      </if>
      <if test="houseHouse != null">
        #{houseHouse,jdbcType=VARCHAR},
      </if>
      <if test="houseBar != null">
        #{houseBar,jdbcType=VARCHAR},
      </if>
      <if test="houseRoom != null">
        #{houseRoom,jdbcType=VARCHAR},
      </if>
      <if test="leaserId != null">
        #{leaserId,jdbcType=INTEGER},
      </if>
      <if test="houseType != null">
        #{houseType,jdbcType=INTEGER},
      </if>
      <if test="houseUse != null">
        #{houseUse,jdbcType=INTEGER},
      </if>
      <if test="message != null">
        #{message,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="delId != null">
        #{delId,jdbcType=INTEGER},
      </if>
      <if test="spareStr != null">
        #{spareStr,jdbcType=VARCHAR},
      </if>
      <if test="spareInt != null">
        #{spareInt,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateResidenceInfo" parameterType="com.population.pojo.Dwell">
    update dwell
    <set>
      <if test="dwellWay != null">
        dwell_way = #{dwellWay,jdbcType=INTEGER},
      </if>
      <if test="dwellWhy != null">
        dwell_why = #{dwellWhy,jdbcType=INTEGER},
      </if>
      <if test="houseCategory != null">
        house_category = #{houseCategory,jdbcType=INTEGER},
      </if>
      <if test="houseProvine != null">
        house_provine = #{houseProvine,jdbcType=VARCHAR},
      </if>
      <if test="houseAvenue != null">
        house_avenue = #{houseAvenue,jdbcType=VARCHAR},
      </if>
      <if test="houseCommunity != null">
        house_community = #{houseCommunity,jdbcType=VARCHAR},
      </if>
      <if test="houseWay != null">
        house_way = #{houseWay,jdbcType=VARCHAR},
      </if>
      <if test="houseHouse != null">
        house_house = #{houseHouse,jdbcType=VARCHAR},
      </if>
      <if test="houseBar != null">
        house_bar = #{houseBar,jdbcType=VARCHAR},
      </if>
      <if test="houseRoom != null">
        house_room = #{houseRoom,jdbcType=VARCHAR},
      </if>
      <if test="leaserId != null">
        leaser_id = #{leaserId,jdbcType=INTEGER},
      </if>
      <if test="houseType != null">
        house_type = #{houseType,jdbcType=INTEGER},
      </if>
      <if test="houseUse != null">
        house_use = #{houseUse,jdbcType=INTEGER},
      </if>
      <if test="message != null">
        message = #{message,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="delId != null">
        del_id = #{delId,jdbcType=INTEGER},
      </if>
      <if test="spareStr != null">
        spare_str = #{spareStr,jdbcType=VARCHAR},
      </if>
      <if test="spareInt != null">
        spare_int = #{spareInt,jdbcType=INTEGER},
      </if>
    </set>
    where dwe_id = #{dweId,jdbcType=INTEGER}
  </update>
</mapper>