<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.population.dao.Employing.EmployingDaoMapper">
  <resultMap id="BaseResultMap" type="com.population.vo.EmployingVO">
    <id column="em_id" jdbcType="INTEGER" property="emId" />
    <result column="employing_name" jdbcType="VARCHAR" property="employingName" />
    <result column="unit_type" jdbcType="INTEGER" property="unitType" />
    <result column="unit_site_provine" jdbcType="VARCHAR" property="unitSiteProvine" />
    <result column="unit_site_avenue" jdbcType="VARCHAR" property="unitSiteAvenue" />
    <result column="unit_site_community" jdbcType="VARCHAR" property="unitSiteCommunity" />
    <result column="unit_site_way" jdbcType="VARCHAR" property="unitSiteWay" />
    <result column="unit_site_house" jdbcType="VARCHAR" property="unitSiteHouse" />
    <result column="unit_site_bar" jdbcType="VARCHAR" property="unitSiteBar" />
    <result column="organization" jdbcType="VARCHAR" property="organization" />
    <result column="legal_person" jdbcType="VARCHAR" property="legalPerson" />
    <result column="contract_time" jdbcType="INTEGER" property="contractTime" />
    <result column="unit_phone" jdbcType="VARCHAR" property="unitPhone" />
    <result column="insurance" jdbcType="VARCHAR" property="insurance" />
    <result column="unit_social" jdbcType="VARCHAR" property="unitSocial" />
    <result column="unit_number" jdbcType="VARCHAR" property="unitNumber" />
    <result column="unit_person" jdbcType="VARCHAR" property="unitPerson" />
    <result column="industry_sort" jdbcType="INTEGER" property="industrySort" />
    <result column="grade" jdbcType="INTEGER" property="grade" />
    <result column="profession_skill" jdbcType="INTEGER" property="professionSkill" />
    <result column="profession" jdbcType="VARCHAR" property="profession" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="del_id" jdbcType="INTEGER" property="delId" />
    <result column="spare_str" jdbcType="VARCHAR" property="spareStr" />
    <result column="spare_int" jdbcType="INTEGER" property="spareInt" />
  </resultMap>
  <sql id="Base_Column_List">
    em_id, employing_name, unit_type, unit_site_provine, unit_site_avenue, unit_site_community, 
    unit_site_way, unit_site_house, unit_site_bar, organization, legal_person, contract_time, 
    unit_phone, insurance, unit_social, unit_number, unit_person, industry_sort, grade, 
    profession_skill, profession, gmt_create, gmt_modified, del_id, spare_str, spare_int
  </sql>
  <select id="selectEmployingCount" resultType="integer" parameterType="integer">
    select count(0)
    from employing
    where spare_int = #{userId,jdbcType=INTEGER}
    and del_id = 0
  </select>
  <select id="selectEmploying" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from employing
    where spare_int = #{userId,jdbcType=INTEGER}
  </select>
  <select id="selectAllEmploying" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from employing
    where del_id=0
  </select>
  <insert id="insertEmploying" parameterType="com.population.vo.EmployingVO">
    insert into employing
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="emId != null">
        em_id,
      </if>
      <if test="employingName != null">
        employing_name,
      </if>
      <if test="unitType != null">
        unit_type,
      </if>
      <if test="unitSiteProvine != null">
        unit_site_provine,
      </if>
      <if test="unitSiteAvenue != null">
        unit_site_avenue,
      </if>
      <if test="unitSiteCommunity != null">
        unit_site_community,
      </if>
      <if test="unitSiteWay != null">
        unit_site_way,
      </if>
      <if test="unitSiteHouse != null">
        unit_site_house,
      </if>
      <if test="unitSiteBar != null">
        unit_site_bar,
      </if>
      <if test="organization != null">
        organization,
      </if>
      <if test="legalPerson != null">
        legal_person,
      </if>
      <if test="contractTime != null">
        contract_time,
      </if>
      <if test="unitPhone != null">
        unit_phone,
      </if>
      <if test="insurance != null">
        insurance,
      </if>
      <if test="unitSocial != null">
        unit_social,
      </if>
      <if test="unitNumber != null">
        unit_number,
      </if>
      <if test="unitPerson != null">
        unit_person,
      </if>
      <if test="industrySort != null">
        industry_sort,
      </if>
      <if test="grade != null">
        grade,
      </if>
      <if test="professionSkill != null">
        profession_skill,
      </if>
      <if test="profession != null">
        profession,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="delId != null">
        del_id,
      </if>
      <if test="spareStr != null">
        spare_str,
      </if>
      <if test="spareInt != null">
        spare_int,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="emId != null">
        #{emId,jdbcType=INTEGER},
      </if>
      <if test="employingName != null">
        #{employingName,jdbcType=VARCHAR},
      </if>
      <if test="unitType != null">
        #{unitType,jdbcType=INTEGER},
      </if>
      <if test="unitSiteProvine != null">
        #{unitSiteProvine,jdbcType=VARCHAR},
      </if>
      <if test="unitSiteAvenue != null">
        #{unitSiteAvenue,jdbcType=VARCHAR},
      </if>
      <if test="unitSiteCommunity != null">
        #{unitSiteCommunity,jdbcType=VARCHAR},
      </if>
      <if test="unitSiteWay != null">
        #{unitSiteWay,jdbcType=VARCHAR},
      </if>
      <if test="unitSiteHouse != null">
        #{unitSiteHouse,jdbcType=VARCHAR},
      </if>
      <if test="unitSiteBar != null">
        #{unitSiteBar,jdbcType=VARCHAR},
      </if>
      <if test="organization != null">
        #{organization,jdbcType=VARCHAR},
      </if>
      <if test="legalPerson != null">
        #{legalPerson,jdbcType=VARCHAR},
      </if>
      <if test="contractTime != null">
        #{contractTime,jdbcType=INTEGER},
      </if>
      <if test="unitPhone != null">
        #{unitPhone,jdbcType=VARCHAR},
      </if>
      <if test="insurance != null">
        #{insurance,jdbcType=VARCHAR},
      </if>
      <if test="unitSocial != null">
        #{unitSocial,jdbcType=VARCHAR},
      </if>
      <if test="unitNumber != null">
        #{unitNumber,jdbcType=VARCHAR},
      </if>
      <if test="unitPerson != null">
        #{unitPerson,jdbcType=VARCHAR},
      </if>
      <if test="industrySort != null">
        #{industrySort,jdbcType=INTEGER},
      </if>
      <if test="grade != null">
        #{grade,jdbcType=INTEGER},
      </if>
      <if test="professionSkill != null">
        #{professionSkill,jdbcType=INTEGER},
      </if>
      <if test="profession != null">
        #{profession,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="delId != null">
        #{delId,jdbcType=INTEGER},
      </if>
      <if test="spareStr != null">
        #{spareStr,jdbcType=VARCHAR},
      </if>
      <if test="spareInt != null">
        #{spareInt,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateEmploying" parameterType="com.population.vo.EmployingVO">
    update employing
    <set>
      <if test="employingName != null">
        employing_name = #{employingName,jdbcType=VARCHAR},
      </if>
      <if test="unitType != null">
        unit_type = #{unitType,jdbcType=INTEGER},
      </if>
      <if test="unitSiteProvine != null">
        unit_site_provine = #{unitSiteProvine,jdbcType=VARCHAR},
      </if>
      <if test="unitSiteAvenue != null">
        unit_site_avenue = #{unitSiteAvenue,jdbcType=VARCHAR},
      </if>
      <if test="unitSiteCommunity != null">
        unit_site_community = #{unitSiteCommunity,jdbcType=VARCHAR},
      </if>
      <if test="unitSiteWay != null">
        unit_site_way = #{unitSiteWay,jdbcType=VARCHAR},
      </if>
      <if test="unitSiteHouse != null">
        unit_site_house = #{unitSiteHouse,jdbcType=VARCHAR},
      </if>
      <if test="unitSiteBar != null">
        unit_site_bar = #{unitSiteBar,jdbcType=VARCHAR},
      </if>
      <if test="organization != null">
        organization = #{organization,jdbcType=VARCHAR},
      </if>
      <if test="legalPerson != null">
        legal_person = #{legalPerson,jdbcType=VARCHAR},
      </if>
      <if test="contractTime != null">
        contract_time = #{contractTime,jdbcType=INTEGER},
      </if>
      <if test="unitPhone != null">
        unit_phone = #{unitPhone,jdbcType=VARCHAR},
      </if>
      <if test="insurance != null">
        insurance = #{insurance,jdbcType=VARCHAR},
      </if>
      <if test="unitSocial != null">
        unit_social = #{unitSocial,jdbcType=VARCHAR},
      </if>
      <if test="unitNumber != null">
        unit_number = #{unitNumber,jdbcType=VARCHAR},
      </if>
      <if test="unitPerson != null">
        unit_person = #{unitPerson,jdbcType=VARCHAR},
      </if>
      <if test="industrySort != null">
        industry_sort = #{industrySort,jdbcType=INTEGER},
      </if>
      <if test="grade != null">
        grade = #{grade,jdbcType=INTEGER},
      </if>
      <if test="professionSkill != null">
        profession_skill = #{professionSkill,jdbcType=INTEGER},
      </if>
      <if test="profession != null">
        profession = #{profession,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where spare_int = #{spareInt}
    and del_id=0
  </update>
  <update id="deleteEmployingUpdate" parameterType="integer">
    update employing
    set del_id=1
    where em_id=#{empId}
  </update>
</mapper>