<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.population.dao.DwellCauseMapper">
  <resultMap id="BaseResultMap" type="com.population.pojo.DwellCause">
    <id column="dc_id" jdbcType="INTEGER" property="dcId" />
    <result column="dwell_cause_name" jdbcType="VARCHAR" property="dwellCauseName" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modifile" jdbcType="TIMESTAMP" property="gmtModifile" />
    <result column="del_id" jdbcType="INTEGER" property="delId" />
  </resultMap>
  <sql id="Base_Column_List">
    dc_id, dwell_cause_name, gmt_create, gmt_modifile, del_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 'true' as QUERYID,
    <include refid="Base_Column_List" />
    from dwell_cause
    where dc_id = #{dcId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from dwell_cause
    where dc_id = #{dcId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.population.pojo.DwellCause">
    insert into dwell_cause (dc_id, dwell_cause_name, gmt_create, 
      gmt_modifile, del_id)
    values (#{dcId,jdbcType=INTEGER}, #{dwellCauseName,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, 
      #{gmtModifile,jdbcType=TIMESTAMP}, #{delId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.population.pojo.DwellCause">
    insert into dwell_cause
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dcId != null">
        dc_id,
      </if>
      <if test="dwellCauseName != null">
        dwell_cause_name,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModifile != null">
        gmt_modifile,
      </if>
      <if test="delId != null">
        del_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dcId != null">
        #{dcId,jdbcType=INTEGER},
      </if>
      <if test="dwellCauseName != null">
        #{dwellCauseName,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModifile != null">
        #{gmtModifile,jdbcType=TIMESTAMP},
      </if>
      <if test="delId != null">
        #{delId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.population.pojo.DwellCause">
    update dwell_cause
    <set>
      <if test="dwellCauseName != null">
        dwell_cause_name = #{dwellCauseName,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModifile != null">
        gmt_modifile = #{gmtModifile,jdbcType=TIMESTAMP},
      </if>
      <if test="delId != null">
        del_id = #{delId,jdbcType=INTEGER},
      </if>
    </set>
    where dc_id = #{dcId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.population.pojo.DwellCause">
    update dwell_cause
    set dwell_cause_name = #{dwellCauseName,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modifile = #{gmtModifile,jdbcType=TIMESTAMP},
      del_id = #{delId,jdbcType=INTEGER}
    where dc_id = #{dcId,jdbcType=INTEGER}
  </update>
</mapper>