<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.population.dao.HouseCategoryMapper">
  <resultMap id="BaseResultMap" type="com.population.pojo.HouseCategory">
    <id column="hc_id" jdbcType="INTEGER" property="hcId" />
    <result column="house_category_name" jdbcType="VARCHAR" property="houseCategoryName" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modifile" jdbcType="TIMESTAMP" property="gmtModifile" />
    <result column="del_id" jdbcType="INTEGER" property="delId" />
  </resultMap>
  <sql id="Base_Column_List">
    hc_id, house_category_name, gmt_create, gmt_modifile, del_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 'true' as QUERYID,
    <include refid="Base_Column_List" />
    from house_category
    where hc_id = #{hcId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from house_category
    where hc_id = #{hcId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.population.pojo.HouseCategory">
    insert into house_category (hc_id, house_category_name, gmt_create, 
      gmt_modifile, del_id)
    values (#{hcId,jdbcType=INTEGER}, #{houseCategoryName,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, 
      #{gmtModifile,jdbcType=TIMESTAMP}, #{delId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.population.pojo.HouseCategory">
    insert into house_category
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="hcId != null">
        hc_id,
      </if>
      <if test="houseCategoryName != null">
        house_category_name,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModifile != null">
        gmt_modifile,
      </if>
      <if test="delId != null">
        del_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="hcId != null">
        #{hcId,jdbcType=INTEGER},
      </if>
      <if test="houseCategoryName != null">
        #{houseCategoryName,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModifile != null">
        #{gmtModifile,jdbcType=TIMESTAMP},
      </if>
      <if test="delId != null">
        #{delId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.population.pojo.HouseCategory">
    update house_category
    <set>
      <if test="houseCategoryName != null">
        house_category_name = #{houseCategoryName,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModifile != null">
        gmt_modifile = #{gmtModifile,jdbcType=TIMESTAMP},
      </if>
      <if test="delId != null">
        del_id = #{delId,jdbcType=INTEGER},
      </if>
    </set>
    where hc_id = #{hcId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.population.pojo.HouseCategory">
    update house_category
    set house_category_name = #{houseCategoryName,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modifile = #{gmtModifile,jdbcType=TIMESTAMP},
      del_id = #{delId,jdbcType=INTEGER}
    where hc_id = #{hcId,jdbcType=INTEGER}
  </update>
</mapper>