<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.population.dao.ProfessionalMapper">
  <resultMap id="BaseResultMap" type="com.population.pojo.Professional">
    <id column="pro_id" jdbcType="INTEGER" property="proId" />
    <result column="professional_name" jdbcType="VARCHAR" property="professionalName" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modifile" jdbcType="TIMESTAMP" property="gmtModifile" />
    <result column="del_id" jdbcType="INTEGER" property="delId" />
  </resultMap>
  <sql id="Base_Column_List">
    pro_id, professional_name, gmt_create, gmt_modifile, del_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 'true' as QUERYID,
    <include refid="Base_Column_List" />
    from professional
    where pro_id = #{proId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from professional
    where pro_id = #{proId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.population.pojo.Professional">
    insert into professional (pro_id, professional_name, gmt_create, 
      gmt_modifile, del_id)
    values (#{proId,jdbcType=INTEGER}, #{professionalName,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, 
      #{gmtModifile,jdbcType=TIMESTAMP}, #{delId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.population.pojo.Professional">
    insert into professional
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="proId != null">
        pro_id,
      </if>
      <if test="professionalName != null">
        professional_name,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModifile != null">
        gmt_modifile,
      </if>
      <if test="delId != null">
        del_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="proId != null">
        #{proId,jdbcType=INTEGER},
      </if>
      <if test="professionalName != null">
        #{professionalName,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModifile != null">
        #{gmtModifile,jdbcType=TIMESTAMP},
      </if>
      <if test="delId != null">
        #{delId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.population.pojo.Professional">
    update professional
    <set>
      <if test="professionalName != null">
        professional_name = #{professionalName,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModifile != null">
        gmt_modifile = #{gmtModifile,jdbcType=TIMESTAMP},
      </if>
      <if test="delId != null">
        del_id = #{delId,jdbcType=INTEGER},
      </if>
    </set>
    where pro_id = #{proId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.population.pojo.Professional">
    update professional
    set professional_name = #{professionalName,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modifile = #{gmtModifile,jdbcType=TIMESTAMP},
      del_id = #{delId,jdbcType=INTEGER}
    where pro_id = #{proId,jdbcType=INTEGER}
  </update>
</mapper>