<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.population.dao.RegisterAuditMapper">
  <resultMap id="BaseResultMap" type="com.population.pojo.RegisterAudit">
    <id column="register_id" jdbcType="INTEGER" property="registerId" />
    <result column="personal_id" jdbcType="INTEGER" property="personalId" />
    <result column="register_audit_status" jdbcType="INTEGER" property="registerAuditStatus" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="del_id" jdbcType="INTEGER" property="delId" />
    <result column="spare_str" jdbcType="VARCHAR" property="spareStr" />
    <result column="spare_int" jdbcType="INTEGER" property="spareInt" />
  </resultMap>
  <sql id="Base_Column_List">
    register_id, personal_id, register_audit_status, user_id, comment, gmt_create, gmt_modified, 
    del_id, spare_str, spare_int
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 'true' as QUERYID,
    <include refid="Base_Column_List" />
    from register_audit
    where register_id = #{registerId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from register_audit
    where register_id = #{registerId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.population.pojo.RegisterAudit">
    insert into register_audit (register_id, personal_id, register_audit_status, 
      user_id, comment, gmt_create, 
      gmt_modified, del_id, spare_str, 
      spare_int)
    values (#{registerId,jdbcType=INTEGER}, #{personalId,jdbcType=INTEGER}, #{registerAuditStatus,jdbcType=INTEGER}, 
      #{userId,jdbcType=INTEGER}, #{comment,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, 
      #{gmtModified,jdbcType=TIMESTAMP}, #{delId,jdbcType=INTEGER}, #{spareStr,jdbcType=VARCHAR}, 
      #{spareInt,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.population.pojo.RegisterAudit">
    insert into register_audit
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="registerId != null">
        register_id,
      </if>
      <if test="personalId != null">
        personal_id,
      </if>
      <if test="registerAuditStatus != null">
        register_audit_status,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="comment != null">
        comment,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="delId != null">
        del_id,
      </if>
      <if test="spareStr != null">
        spare_str,
      </if>
      <if test="spareInt != null">
        spare_int,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="registerId != null">
        #{registerId,jdbcType=INTEGER},
      </if>
      <if test="personalId != null">
        #{personalId,jdbcType=INTEGER},
      </if>
      <if test="registerAuditStatus != null">
        #{registerAuditStatus,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="delId != null">
        #{delId,jdbcType=INTEGER},
      </if>
      <if test="spareStr != null">
        #{spareStr,jdbcType=VARCHAR},
      </if>
      <if test="spareInt != null">
        #{spareInt,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.population.pojo.RegisterAudit">
    update register_audit
    <set>
      <if test="personalId != null">
        personal_id = #{personalId,jdbcType=INTEGER},
      </if>
      <if test="registerAuditStatus != null">
        register_audit_status = #{registerAuditStatus,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="comment != null">
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="delId != null">
        del_id = #{delId,jdbcType=INTEGER},
      </if>
      <if test="spareStr != null">
        spare_str = #{spareStr,jdbcType=VARCHAR},
      </if>
      <if test="spareInt != null">
        spare_int = #{spareInt,jdbcType=INTEGER},
      </if>
    </set>
    where register_id = #{registerId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.population.pojo.RegisterAudit">
    update register_audit
    set personal_id = #{personalId,jdbcType=INTEGER},
      register_audit_status = #{registerAuditStatus,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      comment = #{comment,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      del_id = #{delId,jdbcType=INTEGER},
      spare_str = #{spareStr,jdbcType=VARCHAR},
      spare_int = #{spareInt,jdbcType=INTEGER}
    where register_id = #{registerId,jdbcType=INTEGER}
  </update>
</mapper>