<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.population.dao.roleMapper">
  <resultMap id="BaseResultMap" type="com.population.pojo.role">
    <id column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="role_root" jdbcType="INTEGER" property="roleRoot" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modifile" jdbcType="TIMESTAMP" property="gmtModifile" />
    <result column="del_id" jdbcType="INTEGER" property="delId" />
  </resultMap>
  <sql id="Base_Column_List">
    role_id, role_name, role_root, gmt_create, gmt_modifile, del_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 'true' as QUERYID,
    <include refid="Base_Column_List" />
    from role
    where role_id = #{roleId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from role
    where role_id = #{roleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.population.pojo.role">
    insert into role (role_id, role_name, role_root, 
      gmt_create, gmt_modifile, del_id
      )
    values (#{roleId,jdbcType=INTEGER}, #{roleName,jdbcType=VARCHAR}, #{roleRoot,jdbcType=INTEGER}, 
      #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModifile,jdbcType=TIMESTAMP}, #{delId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.population.pojo.role">
    insert into role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        role_id,
      </if>
      <if test="roleName != null">
        role_name,
      </if>
      <if test="roleRoot != null">
        role_root,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModifile != null">
        gmt_modifile,
      </if>
      <if test="delId != null">
        del_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="roleName != null">
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="roleRoot != null">
        #{roleRoot,jdbcType=INTEGER},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModifile != null">
        #{gmtModifile,jdbcType=TIMESTAMP},
      </if>
      <if test="delId != null">
        #{delId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.population.pojo.role">
    update role
    <set>
      <if test="roleName != null">
        role_name = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="roleRoot != null">
        role_root = #{roleRoot,jdbcType=INTEGER},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModifile != null">
        gmt_modifile = #{gmtModifile,jdbcType=TIMESTAMP},
      </if>
      <if test="delId != null">
        del_id = #{delId,jdbcType=INTEGER},
      </if>
    </set>
    where role_id = #{roleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.population.pojo.role">
    update role
    set role_name = #{roleName,jdbcType=VARCHAR},
      role_root = #{roleRoot,jdbcType=INTEGER},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modifile = #{gmtModifile,jdbcType=TIMESTAMP},
      del_id = #{delId,jdbcType=INTEGER}
    where role_id = #{roleId,jdbcType=INTEGER}
  </update>
</mapper>