<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册信息审核</title>
    <script src="../../static/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <link rel="stylesheet" href="../../static/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../../static/plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="stylesheet" href="../../static/plugins/angularjs/toaster.min.css">
    <script src="../../static/plugins/bootstrap/js/bootstrap.min.js"></script>

    <script src="../../static/plugins/angularjs/angular.min.js"></script>
    <link rel="stylesheet" href="../../static/plugins/angularjs/pagination.css">
    <script type="text/javascript" src="../../static/plugins/angularjs/pagination.js"></script>
    <script src="../../static/js/showLoading.js" type="text/javascript" charset="utf-8"></script>
    <script>
        var app = angular.module("myApp", ["pagination"]);
        app.controller("myController", function ($scope, $http) {
            $scope.entity = {};
            $scope.paginationConf = {
                currentPage: 1,  				//当前页
                totalItems: 10,					//总记录数
                itemsPerPage: 10,				//每页记录数
                perPageOptions: [5, 10, 20, 30, 40, 50], //分页选项，下拉选择一页多少条记录
                onChange: function () {
                    $scope.find($scope.paginationConf.currentPage, $scope.paginationConf.itemsPerPage)
                }
            }
            $scope.dictionaries = {
                pageNum: 0,
                pageSize: 10
            }
            //获取全部信息
            $scope.find = function (pageNum, items) {
                if (pageNum == null || pageNum == "") {
                    pageNum = 1;
                }
                $scope.dictionaries.pageNum = pageNum;
                $scope.dictionaries.pageSize = items;
                var dictionariesMessage = $scope.dictionaries;
                console.log(dictionariesMessage)
                $http({
                    url: "/Dictionaries/findAllDictionaries",
                    method: "post",
                    params: dictionariesMessage
                }).success(function (response) {
                    $scope.lists = response.list;
                    $scope.paginationConf.totalItems = response.total;
                })

            }
        })
    </script>
</head>
<body  ng-app="myApp" ng-controller="myController">
<div>
    <table id="dataList" class="table">
    <thead>
    <tr>
        <th>编号</th>
        <th>单位名称</th>
        <th>手机号</th>
        <th>提交时间</th>
        <th>详情</th>
        <th>审核状态</th>
    </tr>
    </thead>

    <tbody id="tbody">
    <tr ng-repeat="dic in lists">
        <td>{{dic.dicId}}</td>
        <td>{{dic.dictionariesName}}</td>
        <td>{{dic.parentName}}</td>
        <td>{{dic.createTime}}</td>
        <td>
            <button class="btn btn-success" data-toggle="modal" data-target="#detailed" ng-click="detailedMassage(dic.dicId)">详细</button>
        </td>
        <td>
            <button class="btn btn-warning" data-toggle="modal" data-target="#modification"
                    ng-click="reviseMassage(dic.dicId)">修改
            </button>
        </td>
    </tr>
    </tbody>
</table>
<tm-pagination conf="paginationConf"></tm-pagination>
</div>

</body>
</html>